<div class="panel panel-default">
    <div class="panel-heading">Danh mục sản phẩm</div>
    <ul class="list-group">
        <li class="list-group-item">Áo đồng</li>
        <li class="list-group-item">Văn sách</li>
        <li class="list-group-item">Công nghệ</li>
        <li class="list-group-item">Thể thao</li>
        <li class="list-group-item">Thiết bị gia dụng</li>
        <li class="list-group-item">Đồ chơi</li>
        <li class="list-group-item">Sức khoẻ</li>
    </ul>
</div>

<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq4S3CX2p4r1Eeyen_f37JpxxMb8wpR6nouw&s" class="img-responsive" />
</div>
